@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

/* global */
body {
	/*background-color: #1e272e;*/
	/*background-color: #ffffff;*/
}

.center-all {
	width: 40%;
	height: 10%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.big {
	font-size: 6em;
}

.faded {
	color: rgba(0, 0, 0, 0.3);
}

.centered {
	text-align: center;
}

/* index.php */
#wrapper {
	width: 60%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}

.board-form {
	float: left;
	padding: 5px;
}

/* display.php */
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	padding: 10px;
}

.trashcan {
	color: #ffffff;
}

.card-columns {
    column-count: 5 !important;
}

.note-base {
	width: 300px !important;
	height: auto;
	/*min-height: 200px;*/
	text-align: justify;  
	color: #ffffff;
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Sriracha', cursive;
	font-size: 1.3em;
	display: inline-block;
	margin: 20px;
	-webkit-box-shadow: 0 1px 1px #222;
	-moz-box-shadow: 0 1px 1px #222;
	box-shadow: 0 1px 1px #222;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	transition: all 0.3s;
	z-index: 0;
}

.note-base:hover {
	-webkit-box-shadow: 0 15px 40px #222;
	-moz-box-shadow: 0 15px 40px #222;
	box-shadow: 0 15px 40px #222;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	z-index: 10;
}

.note-base-actions {
	padding: 5px;
	height: auto;
	width: 100%;
}

.note-base-content {
	padding: 5px;
	height: 75%;
	width: 100%;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 1em;
}

@media only screen and (max-width: 450px){
	.note-base {
		width: 300px;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
		transition: none;
	}

	.note-base:hover {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.grid-container {
		grid-template-columns: none;
	}
}

.note0-actions {
	background-color: #27ae60;
}

.note0-content {
	background-color: #2ecc71;
}

.note1-actions {
	background-color: #f39c12;
}

.note1-content {
	background-color: #f1c40f;
}

.note2-actions {
	background-color: #c0392b;
}

.note2-content {
	background-color: #e74c3c;
}

/* add-stickies.php */

.wrapper {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 35%;
	padding: 16px;
}

