@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* global */
body {
    font-family: 'Open Sans', sans-serif !important;
}

.header-img {
  width: 200px;
  height: auto;
}

.fab_wrapper{
  z-index: 9999;
  width:100%;
  height:240px;
  position:fixed;
  right:0px;
  bottom:0px;
  pointer-events:none;
}

.fab_btn{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: rgb(109,207,246);
  background: linear-gradient(165deg, rgba(109,207,246,1) 0%, rgba(13,170,237,1) 35%, rgba(7,126,199,1) 60%, rgba(1,45,120,1) 100%);
  right: 16px;
  bottom: 64px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 24px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  pointer-events: all;
}

/* index.php */
.rb-card {
  background: rgb(109, 207, 246);
  background: linear-gradient(0deg, rgba(109, 207, 246, 1) 0%, rgba(13, 170, 237, 1) 35%, rgba(7, 126, 199, 1) 60%, rgba(1, 45, 120, 1) 100%);
  width: 330px;
  height: 200px;
  border-radius: 30px;
  -moz-border-radius: 30px 30px 0 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;
}

.rb-card:hover {
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
}

.rb-card .rb-card-body {
  z-index: 10;
  width: 330px;
  height: 200px;
  position: fixed;
}

.rb-card .rb-card-body .card-title {
  padding-top: 32px;
  padding-left: 16px;
  color: #ffffff;
  font-weight: 700;
}

.rb-card .circle {
  z-index: 5;
  width: 200px;
  height: 200px;
  background: rgb(109, 207, 246);
  background: linear-gradient(165deg, rgba(109, 207, 246, 1) 0%, rgba(13, 170, 237, 1) 35%, rgba(7, 126, 199, 1) 60%, rgba(1, 45, 120, 1) 100%);
  border-radius: 100px;
  -moz-border-radius: 100px 100px 0 0;
  opacity: 0.4;
  position: absolute;
  top: 60px;
  left: 180px;
}

.board-form {
  position: absolute;
}

.form-open {
  top: 150px;
  left: 280px;
}

.form-delete {
  top: 150px;
  left: 230px;
}

.form-export {
  top: 150px;
  left: 180px;
}

.board-form .btn-rounded {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1.42857;
  background-color: #ceebf5;
  border-color: #ceebf5;
  color: #055bb0;
}

.board-form .btn-rounded@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');[disabled] {
  background-color: #c5e1ea;
  border-color: #c5e1ea;
  color: #3d76af;
}

/* display.php */
.tab-content {
	opacity: 0;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	padding: 10px;
}

.trashcan {
	color: #ffffff;
}

.header-buttons .header-spacer {
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
  color: #EEEEEE;
}

.header-buttons .rounded-button {
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  width: 60px;
  height: 30px;
  color: white;
  background-color: #F6F6F6;
  transition: .4s;
  -webkit-transition: .4s;
}

.header-buttons .rounded-button:hover {
  background-color: #EEEEEE;
}

.header-buttons .danger-button {
  color: #000000;
}

.header-buttons .danger-button:hover {
  background-color: #CC0000;
  color: #FFFFFF;
}

.header-buttons .danger-button span {
  display: block;
  text-align: center;
  line-height: 1em;
}

.header-buttons .form-toggle-visibility {
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F6F6F6;
  transition: .4s;
  -webkit-transition: .4s;
}

.slider:before {
  position: absolute;
  content: "\f070";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  line-height: 1.42857;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: 'FontAwesome', sans-serif;
  padding-left: 4px;
  padding-top: 4px;
  font-size: 14px;
  color: #666666;
}

input:checked + .slider {
  background: rgba(31,181,55,1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  content: "\f06e";
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 15px;
}

.note-base {
    width: 300px !important;
    height: auto;
    min-height: 100px;
    display: inline-block;
    position: relative;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    transition: all .2s;
    border-radius: 30px;
    background: rgb(109, 207, 246);
    background: linear-gradient(0deg, rgba(109, 207, 246, 1) 0%, rgba(13, 170, 237, 1) 35%, rgba(7, 126, 199, 1) 60%, rgba(1, 45, 120, 1) 100%);
    overflow: hidden;
}

.note-base:hover {
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
}

.note-base .upper-shadow {
  width: 100%;
  transform: translateY(-50px);
  height: 50px;
  background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.note-base .delete-sticky-form{
  transform: translateY(-50px);
  position: absolute;
  left: 20px;
  top: 10px;
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.note-base:hover > .hover-display {
  transform: translateY(0px);
}

.delete-sticky-form .btn-circle {
  width: 30px;
  height: 30px;
  padding: 2px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 1.42857;
  background-color: #ffffff;
  border-color: #ffffff;
}

.delete-sticky-form .btn-color-0 {

  color: rgba(31,181,55,1);
}

.delete-sticky-form .btn-color-2 {
  color: #e40000;
}

.delete-sticky-form .btn-color-1 {
  color: #e48100;
}

.note-base .note-base-content {
  padding: 16px;
  overflow: hidden;
  word-wrap: break-word;
  font-family: 'Patrick Hand', cursive;
  color: #ffffff;
  text-align: justify;
  font-size: 1.35em;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.card-columns {
    column-count: 5 !important;
}

@media (min-width: 1501px) and (max-width: 1870px) {
	.card-columns {
    	column-count: 4 !important;
	}
}

@media (min-width: 1100px) and (max-width: 1500px) {
	.card-columns {
    	column-count: 3 !important;
	}
}

@media (min-width: 750px) and (max-width: 1099px) {
	.card-columns {
    	column-count: 2 !important;
	}

	.note-base {
		width: 300px !important;
	}
}

@media (min-width: 100px) and (max-width: 749px) {
	.card-columns {
    	column-count: 1 !important;
	}

	.note-base {
		width: 100% !important;
	}
}

.note0 {
	background: rgb(46,197,71);
  background: linear-gradient(0deg, rgba(46,197,71,1) 0%, rgba(31,181,55,1) 35%, rgba(20,162,44,1) 60%, rgba(11,136,31,1) 100%);
}

.note1 {
  background: rgb(255,198,0);
  background: linear-gradient(0deg, rgba(255,198,0,1) 0%, rgba(228,129,0,1) 100%);
}

.note2 {
  background: rgb(255,72,0);
  background: linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(228,0,0,1) 100%);
}

.fab0 {
  background: rgb(46,197,71);
  background: linear-gradient(165deg, rgba(46,197,71,1) 0%, rgba(31,181,55,1) 35%, rgba(20,162,44,1) 60%, rgba(11,136,31,1) 100%);
}

.fab1 {
  background: rgb(255,198,0);
  background: linear-gradient(165deg, rgba(255,198,0,1) 0%, rgba(228,129,0,1) 100%);
}

.fab2 {
  background: rgb(255,72,0);
  background: linear-gradient(165deg, rgba(255,72,0,1) 0%, rgba(228,0,0,1) 100%);
}

.width-1 {
    width: 32px;
}

.width-2 {
    width: 48px;
}

.btn-lock-board:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f3c1";
}

.btn-lock-board:hover:after {
    content: "\f023";
}

/* add-stickies.php */
.wrapper {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 35%;
	padding: 16px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

