@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

/* global */
body {
	/*background-color: #1e272e;*/
	/*background-color: #ffffff;*/
}

.center-all {
	width: 40%;
	height: 10%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.big {
	font-size: 6em;
}

.faded {
	color: rgba(0, 0, 0, 0.3);
}

.centered {
	text-align: center;
}

.top {
	z-index: 99999;
}

/* index.php */
#wrapper {
	width: 60%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
}

.board-form {
	float: left;
	padding: 5px;
}

/* display.php */
.tab-content{
	opacity: 0;
	filter: blur(10px),
	-webkit-filter: blur(10px)
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px  #5cb85c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	padding: 10px;
}

.trashcan {
	color: #ffffff;
}

.note-base-actions {
	padding: 5px;
	height: auto;
	width: 100%;
}

.note-base-content {
	padding: 5px;
	height: 75%;
	width: 100%;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 1em;
}

.card-columns {
    column-count: 5 !important;
}


.note-base {
	width: 300px !important;
	height: auto;
	text-align: justify;  
	color: #ffffff;
	font-family: 'Sriracha', cursive;
	font-size: 1.3em;
	display: inline-block;
	margin: 20px;
	-webkit-box-shadow: 0 1px 1px #222;
	-moz-box-shadow: 0 1px 1px #222;
	box-shadow: 0 1px 1px #222;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	transition: all 0.3s;
	z-index: 0;
}

.note-base:hover {
	-webkit-box-shadow: 0 15px 40px #222;
	-moz-box-shadow: 0 15px 40px #222;
	box-shadow: 0 15px 40px #222;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	z-index: 10;
}

@media (min-width: 1501px) and (max-width: 1900px) {
	.card-columns {
    	column-count: 4 !important;
	}
}

@media (min-width: 1366px) and (max-width: 1500px) {
	.card-columns {
    	column-count: 4 !important;
	}

	.note-base {
		width: 300px !important;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
		transition: none;
	}

	.note-base:hover {
		-webkit-box-shadow: 0 1px 1px #222;
		-moz-box-shadow: 0 1px 1px #222;
		box-shadow: 0 1px 1px #222;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

@media (min-width: 1000px) and (max-width: 1365px) {
	.card-columns {
    	column-count: 3 !important;
	}

	.note-base {
		width: 300px !important;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
		transition: none;
	}

	.note-base:hover {
		-webkit-box-shadow: 0 1px 1px #222;
		-moz-box-shadow: 0 1px 1px #222;
		box-shadow: 0 1px 1px #222;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

@media (min-width: 600px) and (max-width: 999px) {
	.card-columns {
    	column-count: 3 !important;
	}

	.note-base {
		width: 200px !important;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
		transition: none;
	}

	.note-base:hover {
		-webkit-box-shadow: 0 1px 1px #222;
		-moz-box-shadow: 0 1px 1px #222;
		box-shadow: 0 1px 1px #222;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

@media (min-width: 300px) and (max-width: 599px) {
	.card-columns {
    	column-count: 1 !important;
	}

	.note-base {
		width: auto !important;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
		transition: none;
	}

	.note-base:hover {
		-webkit-box-shadow: 0 1px 1px #222;
		-moz-box-shadow: 0 1px 1px #222;
		box-shadow: 0 1px 1px #222;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

.note0-actions {
	background-color: #27ae60;
}

.note0-content {
	background-color: #2ecc71;
}

.note1-actions {
	background-color: #f39c12;
}

.note1-content {
	background-color: #f1c40f;
}

.note2-actions {
	background-color: #c0392b;
}

.note2-content {
	background-color: #e74c3c;
}

/* add-stickies.php */

.wrapper {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 35%;
	padding: 16px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

