@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* global */
body {
    font-family: 'Open Sans', sans-serif !important;
}

.fab_wrapper{
  z-index: 9999;
  width:100%;
  height:240px;
  position:fixed;
  right:0px;
  bottom:0px;
  pointer-events:none;
}

.fab_btn{
  width:60px;
  height:60px;
  border-radius:100%;
  background: rgb(109,207,246);
  background: linear-gradient(165deg, rgba(109,207,246,1) 0%, rgba(13,170,237,1) 35%, rgba(7,126,199,1) 60%, rgba(1,45,120,1) 100%);
  right:16px;
  bottom:64px;
  position:absolute;
  margin-right:0;
  margin-bottom:0;
  padding:0;
  border:none;
  outline:none;
  color:#FFF;
  font-size:24px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  pointer-events:all;
}

/* index.php */
.top-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  padding-left: 8px;
}

.rb-card {
  background: rgb(109, 207, 246);
  background: linear-gradient(0deg, rgba(109, 207, 246, 1) 0%, rgba(13, 170, 237, 1) 35%, rgba(7, 126, 199, 1) 60%, rgba(1, 45, 120, 1) 100%);
  width: 350px;
  height: 200px;
  border-radius: 30px;
  -moz-border-radius: 30px 30px 0 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}

.rb-card .rb-card-body {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
}

.rb-card .rb-card-body .card-title {
  padding-top: 32px;
  padding-left: 16px;
  color: #ffffff;
  font-weight: 700;
}

.rb-card .circle {
  z-index: 5;
  width: 200px;
  height: 200px;
  background: rgb(109, 207, 246);
  background: linear-gradient(165deg, rgba(109, 207, 246, 1) 0%, rgba(13, 170, 237, 1) 35%, rgba(7, 126, 199, 1) 60%, rgba(1, 45, 120, 1) 100%);
  border-radius: 100px;
  -moz-border-radius: 100px 100px 0 0;
  opacity: 0.4;
  position: absolute;
  top: 60px;
  left: 180px;
}

.board-form {
  position: absolute;
}

.form-open {
  top: 150px;
  left: 300px;
}

.form-delete {
  top: 150px;
  left: 250px;
}

.form-export {
  top: 150px;
  left: 200px;
}

.btn-rounded {
  border-radius: 32px !important;
}

/* display.php */
.tab-content {
	opacity: 0;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 38px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:hover {
  background-color: rgba(22, 22, 22, 0.2);
}

.slider:before {
  position: absolute;
  content: "\f070";
  height: 30px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: 'FontAwesome', sans-serif;
  padding-left: 6px;
  padding-top: 4px;
  font-size: 14px;
  color: #666666;
}

input:checked + .slider {
  background-color: #28A745;
}

input:checked + .slider:hover {
  background-color: #218838;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "\f06e";
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 10%;
} 

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	padding: 10px;
}

.trashcan {
	color: #ffffff;
}

/* Notes */
.note-base {
    width: 300px !important;
    height: auto;
    text-align: justify;  
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-size: 1.3em;
    display: inline-block;
    -webkit-box-shadow: 0px 1px 1px #222;
    -moz-box-shadow: 0px 1px 1px #222;
    box-shadow: 0px 1px 1px #222;
    transition: all 0.1s;
    z-index: 0;
    border-radius: 10px;
}

.note-base:hover {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.note-base-actions {
	padding: 6px;
	height: auto;
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.note-base-content {
	padding: 6px;
	height: 85%;
	width: 100%;
    font-family: 'Sriracha', cursive;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 1em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.card-columns {
    column-count: 5 !important;
}

@media (min-width: 1501px) and (max-width: 1870px) {
	.card-columns {
    	column-count: 4 !important;
	}
}

@media (min-width: 1100px) and (max-width: 1500px) {
	.card-columns {
    	column-count: 3 !important;
	}
}

@media (min-width: 750px) and (max-width: 1099px) {
	.card-columns {
    	column-count: 2 !important;
	}

	.note-base {
		width: 300px !important;
	}
}

@media (min-width: 100px) and (max-width: 749px) {
	.card-columns {
    	column-count: 1 !important;
	}

	.note-base {
		width: 100% !important;
	}
}

.note0-actions {
	background-color: #27ae60;
}

.note0-content {
	background-color: #2ecc71;
}

.note1-actions {
	background-color: #f39c12;
}

.note1-content {
	background-color: #f1c40f;
}

.note2-actions {
	background-color: #c0392b;
}

.note2-content {
	background-color: #e74c3c;
}

.width-1 {
    width: 32px;
}

.width-2 {
    width: 48px;
}

.btn-lock-board:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f3c1";
}

.btn-lock-board:hover:after {
    content: "\f023";
}

/* add-stickies.php */
.wrapper {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 35%;
	padding: 16px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

